

/* .ui.menu {
    background-color: purple;
}
.shell-header-bottom {
    background-color: rgb(187, 88, 187);
} */

.floating-discord-button {
    position: absolute;
    top: -20px;
    width: 100%;
}

.floating-left-button {
    position: absolute;
    top: -200px;
    width: 100%;
    pointer-events: none;
}

.floating-right-button {
    position: absolute;
    top: -200px;
    right: 20px;
    text-align: right;
    width: 100%;
    pointer-events: none;
}

.shell-header-bottom {
    height: 50px;
}